/* /FONT */
@font-face {
  font-family: "Montserrat-medium";
  src: local("Montserrat-medium"),
    url("./fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
}
/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Montserrat-medium";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(34, 34, 38);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  /* min-height: 80vh; */
  border: 0.5px solid #606266;
  border-radius: 10px;
  margin: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.title {
  color: #fff;
}
